{%- if page.links -%}
<div class="links">
  <h1>Links:</h1>
  <ul>
    {%- for link in page.links -%}

      {% if link.sublist %}
        <li><p>{{ link.sublist }} :</p></li>
        {%- for slink in link.links -%}
          {% if slink.blank == true or page.blanklinks == true %}
            <li><a href="{{ slink.url }}" target="_blank">{{ slink.name }} </a></li>
          {% else %}
            <li><a href="{{ slink.url }}">{{ slink.name }}</a></li>
          {% endif %}
        {%- endfor -%}
      {% else %}
        {% if link.blank == true or page.blanklinks == true %}
          <li><a href="{{ link.url }}" target="_blank">{{ link.name }} </a></li>
        {% else %}
          <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endif %}
      {%- endif -%}




    {%- endfor -%}
  </ul>
</div>
{%- endif -%}
