.content

  //background-color: $content_border
  //border-radius: 50px
  text-align: justify
  margin-top: 50px
  //box-shadow: 3px 3px 3px black
  transition: height 0.4s ease-in-out 0s
  max-width: 750px
  position: relative
  left: 0px

.index
  position: absolute
  top: 50%
  left : 50%
  transform: translate(-50%, -50%)
  margin-top: 0px


.infobox
  padding-top: 10px
  padding-bottom: 10px
  title
    font-size: 1.8em
    color: $content_title
    display : inline
    font-weight: bold


article
  text-align: justify
  position: relative
  left: 0px
  h1
    font-size: 1.4em
    color: $content_text
  h2
    font-size: 1.3em
    font-weight: bold
    color: $content_text
  h3
    font-size: 1.3em
    color: $content_text
  h4
    font-size: 1.2em
    font-weight: bold
    color: $content_text
  h5
    font-size: 1.2em
    color: $content_text
  h6
    font-size: 1.1em
    font-weight: bold
    color: $content_text
  p
    text-align: justify
    font-size: 1em
    color: $content_text
  a
    font-size: 1em
    font-weight: bold
    color: $content_link
  strong
    font-size: 1em
    font-weight: bold
    color: $content_text
  em
    font-size: 1em
    font-style: italic
    color: $content_text

q, blockquote
  font-size: 1.1em
  font-style: italic

/* Block  */


article
  //background-color: $content_background
  //border-radius: 40px

img, video
  //border-radius: 30px
  margin: 0px
  width: 100%
  position: relative
  left: 50%
  transform: translate(-50%,0%)

/* List  */

ul
  list-style-type: none
  padding-left: 20px

li
  color: $content_text

article
  ul
    list-style-type: square
    text-align: justify
