.logo
  width: 56px
  height: 56px
  a
    text-decoration: none

  .logo-square
    width: 50px
    height: 50px

    border: black solid 3px



    .logo-matrix-container
      position: relative
      top: 50%
      left: 50%
      display: grid
      grid: '. . . .' '. . . .' '. . . .' '. . . .'
      transform: translate(-50%, -50%)

      p
        display: block
        text-align: center
        text-decoration: none
        font-size: 10px
        font-weight: bold
        color: $content_title
        margin: 0px
        font-family: "Courier New"

.header-inverted
  .logo
      position: relative
      left: 100%
      transform: translateX(-100%)
