nav

  h1
    font-size: 1.3em
    font-weight: bold
    color: $content_text
    text-transform: capitalize
  h2
    font-size: 1.2em
    font-weight: bold
    color: $content_text
    text-transform: capitalize

  a, p
    color: $nav_text
    font-size: 1.1em
    text-decoration: underline
    text-transform: capitalize
  a:hover
    text-decoration: none
  p
    display: inline
  li
    text-decoration: none
    list-style-type: none
  ul
    padding-left: 0px

.header-inverted
  text-align: right
